<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - KickMarket</title>
    <link rel="stylesheet" href="~/lib/bulma/dist/bulma.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/KickMarket.styles.css" asp-append-version="true">
    <link rel="icon" type="image/svg+xml" href="~/favicon.svg">
    <link rel="icon" type="image/png" href="~/favicon.png">
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
</head>
<body>
    <header>
        <nav class="navbar is-size-5">
            <div class="navbar-brand has-text-weight-bold">
                <a class="navbar-item" asp-area="" asp-page="/Index">KickMarket</a>
            </div>
            <div class="navbar-menu is-active">
                <a class="navbar-item" asp-area="" asp-page="/Index">Home</a>
                <a class="navbar-item" asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            &copy; 2024 - KickMarket - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
