/* Posicionar footer abajo en páginas pequeñas */
main {
  padding: 1rem;
  min-height: calc(100vh - 325px);
}

/* Menú hamburguesa flotante */
.navbar-menu {
  &.is-active {
    position: absolute;
    width: 100%;
  }
}
