@{
    ViewData["Title"] = "Marcas";
}

<h1 class="title">@ViewData["Title"]</h1>

<div class="grid my-4">
    <div class="cell">
        <a href="https://adidas.com/">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-square">
                        <img
                            src="https://i.pinimg.com/736x/c1/bc/4b/c1bc4bf9946cd2121ae72d7a325b9f1d.jpg"
                            alt="Adidas"
                        >
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-6">Adidas</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="cell">
        <a href="https://converse.com/">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-square">
                        <img
                            src="https://s3.amazonaws.com/cdn.designcrowd.com/blog/40-Famous-Shoe-Logos/Converse.png"
                            alt="Converse"
                        >
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-6">Converse</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="cell">
        <a href="https://crocs.com/">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-square">
                        <img
                            src="https://i.pinimg.com/564x/89/72/88/89728843603f7fa1f452a55daf586db9.jpg"
                            alt="Crocs"
                        >
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-6">Crocs</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="cell">
        <a href="https://dcshoes.com/">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-square">
                        <img
                            src="https://s3.amazonaws.com/cdn.designcrowd.com/blog/40-Famous-Shoe-Logos/Droors-Clothing.png"
                            alt="DC Shoes"
                        >
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-6">DC Shoes</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="cell">
        <a href="https://fila.com/">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-square">
                        <img
                            src="https://i.pinimg.com/736x/0b/84/1a/0b841af395406f817f81b9ae1d56f758.jpg"
                            alt="Fila"
                        >
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-6">Fila</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="cell">
        <a href="https://nike.com/">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-square">
                        <img
                            src="https://1.bp.blogspot.com/--63WbhXAt1o/WNjZ3IkYkGI/AAAAAAAAWc8/Lxv4sM_YLpYi6tFJ8z22eQkQmN09GbdUQCLcB/s1600/Old_Nike_logo.jpg"
                            alt="Nike"
                        >
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-6">Nike</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="cell">
        <a href="https://puma.com/">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-square">
                        <img
                            src="https://static.vecteezy.com/system/resources/previews/022/076/746/non_2x/puma-logo-and-art-free-vector.jpg"
                            alt="Puma"
                        >
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-6">Puma</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
