@{
    ViewData["Title"] = "Política de privacidad";
}

<h1 class="title">@ViewData["Title"]</h1>

<p class="my-4">
    En KickMarket, nos tomamos muy en serio la privacidad de nuestros usuarios.
    Esta política de privacidad describe cómo recopilamos, usamos y protegemos
    la información personal que proporciona al registrarse en nuestro sitio web.
    Al utilizar nuestros servicios, acepta las prácticas descritas en esta
    política.
</p>

<h2 class="title is-4">Información recopilada</h2>

<p class="my-4">
    La única información que recopilamos es aquella que proporcionas
    voluntariamente al registrarse en nuestro sitio. Esto puede incluir su
    nombre, dirección de correo electrónico, dirección de envío y otra
    información necesaria para completar su compra. No recopilamos ni
    almacenamos ningún dato adicional sin su consentimiento explícito.
</p>

<h2 class="title is-4">Uso de la información</h2>

<p class="my-4">
    La información recopilada es utilizada exclusivamente para procesar pedidos.
    No utilizamos sus datos para ningún otro propósito sin su consentimiento.
</p>

<h2 class="title is-4">Compartir información con terceros</h2>

<p class="my-4">
    No compartimos, vendemos, ni alquilamos sus datos personales a terceros. Sus
    datos serán utilizados únicamente para los fines mencionados anteriormente y
    solo se compartirán con terceros si es estrictamente necesario para
    procesar su pedido.
</p>

<h2 class="title is-4">Acceso al código fuente</h2>

<p class="my-4">
    Para garantizar la transparencia, el código fuente de nuestro sitio web está
    disponible públicamente en
    <a href="https://github.com/koaledu/KickMarket">GitHub</a>
    bajo la licencia
    <a href="https://choosealicense.com/licenses/mit/">MIT</a>.
    Esto le permite revisar cómo se usan y procesan sus
    datos dentro del sistema. Puede acceder al repositorio para entender mejor
    cómo se maneja su información.
</p>

<h2 class="title is-4">Seguridad de los datos</h2>

<p class="my-4">
    Tomamos todas las medidas razonables para proteger la información personal
    que recopilamos. Utilizamos tecnologías de seguridad estándar para proteger
    sus datos durante la transmisión y el almacenamiento. Sin embargo, no
    podemos garantizar que ningún método de transmisión o almacenamiento de
    datos sea completamente seguro.
</p>

<h2 class="title is-4">Cambios en la política de privacidad</h2>

<p class="my-4">
    Nos reservamos el derecho de modificar esta política de privacidad en
    cualquier momento. Le notificaremos sobre cualquier cambio importante
    publicando una versión actualizada en nuestro sitio web.
</p>
