@{
    ViewData["Title"] = "Productos";
}

<h1 class="title">@ViewData["Title"]</h1>


<div class="grid my-4">
    <div class="cell">
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    <img
                        src="https://bulma.io/assets/images/placeholders/1280x960.png"
                        alt="Zapato"
                    >
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-6">Originals</p>
                        <p class="subtitle is-6">Adidas</p>
                    </div>
                </div>
                <div class="content">
                    <p class="subtitle is-6 is-family-monospace">$400.000</p>
                </div>
            </div>
        </div>
    </div>

    <div class="cell">
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    <img
                        src="https://bulma.io/assets/images/placeholders/1280x960.png"
                        alt="Zapato"
                    >
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-6">Performance</p>
                        <p class="subtitle is-6">Adidas</p>
                    </div>
                </div>
                <div class="content">
                    <p class="subtitle is-6 is-family-monospace">$175.000</p>
                </div>
            </div>
        </div>
    </div>

    <div class="cell">
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    <img
                        src="https://bulma.io/assets/images/placeholders/1280x960.png"
                        alt="Zapato"
                    >
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-6">Lifestyle</p>
                        <p class="subtitle is-6">Levis</p>
                    </div>
                </div>
                <div class="content">
                    <p class="subtitle is-6 is-family-monospace">$160.000</p>
                </div>
            </div>
        </div>
    </div>

    <div class="cell">
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    <img
                        src="https://bulma.io/assets/images/placeholders/1280x960.png"
                        alt="Zapato"
                    >
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-6">Lifestyle</p>
                        <p class="subtitle is-6">Royal County</p>
                    </div>
                </div>
                <div class="content">
                    <p class="subtitle is-6 is-family-monospace">$160.000</p>
                </div>
            </div>
        </div>
    </div>

    <div class="cell">
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    <img
                        src="https://bulma.io/assets/images/placeholders/1280x960.png"
                        alt="Zapato"
                    >
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-6">Running</p>
                        <p class="subtitle is-6">New Balance</p>
                    </div>
                </div>
                <div class="content">
                    <p class="subtitle is-6 is-family-monospace">$260.000</p>
                </div>
            </div>
        </div>
    </div>

    <div class="cell">
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    <img
                        src="https://bulma.io/assets/images/placeholders/1280x960.png"
                        alt="Zapato"
                    >
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-6">Basketball</p>
                        <p class="subtitle is-6">Puma</p>
                    </div>
                </div>
                <div class="content">
                    <p class="subtitle is-6 is-family-monospace">$368.000</p>
                </div>
            </div>
        </div>
    </div>

    <div class="cell">
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    <img
                        src="https://bulma.io/assets/images/placeholders/1280x960.png"
                        alt="Zapato"
                    >
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-6">Football</p>
                        <p class="subtitle is-6">Fila</p>
                    </div>
                </div>
                <div class="content">
                    <p class="subtitle is-6 is-family-monospace">$240.000</p>
                </div>
            </div>
        </div>
    </div>

    <div class="cell">
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    <img
                        src="https://bulma.io/assets/images/placeholders/1280x960.png"
                        alt="Zapato"
                    >
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-6">Modelo</p>
                        <p class="subtitle is-6">Marca</p>
                    </div>
                </div>
                <div class="content">
                    <p class="subtitle is-6 is-family-monospace">Precio</p>
                </div>
            </div>
        </div>
    </div>

    <div class="cell">
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    <img
                        src="https://bulma.io/assets/images/placeholders/1280x960.png"
                        alt="Zapato"
                    >
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-6">Modelo</p>
                        <p class="subtitle is-6">Marca</p>
                    </div>
                </div>
                <div class="content">
                    <p class="subtitle is-6 is-family-monospace">Precio</p>
                </div>
            </div>
        </div>
    </div>

    <div class="cell">
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    <img
                        src="https://bulma.io/assets/images/placeholders/1280x960.png"
                        alt="Zapato"
                    >
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-6">Modelo</p>
                        <p class="subtitle is-6">Marca</p>
                    </div>
                </div>
                <div class="content">
                    <p class="subtitle is-6 is-family-monospace">Precio</p>
                </div>
            </div>
        </div>
    </div>

    <div class="cell">
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    <img
                        src="https://bulma.io/assets/images/placeholders/1280x960.png"
                        alt="Zapato"
                    >
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-6">Modelo</p>
                        <p class="subtitle is-6">Marca</p>
                    </div>
                </div>
                <div class="content">
                    <p class="subtitle is-6 is-family-monospace">Precio</p>
                </div>
            </div>
        </div>
    </div>

    <div class="cell">
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    <img
                        src="https://bulma.io/assets/images/placeholders/1280x960.png"
                        alt="Zapato"
                    >
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-6">Modelo</p>
                        <p class="subtitle is-6">Marca</p>
                    </div>
                </div>
                <div class="content">
                    <p class="subtitle is-6 is-family-monospace">Precio</p>
                </div>
            </div>
        </div>
    </div>

    <div class="cell">
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    <img
                        src="https://bulma.io/assets/images/placeholders/1280x960.png"
                        alt="Zapato"
                    >
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-6">Modelo</p>
                        <p class="subtitle is-6">Marca</p>
                    </div>
                </div>
                <div class="content">
                    <p class="subtitle is-6 is-family-monospace">Precio</p>
                </div>
            </div>
        </div>
    </div>

    <div class="cell">
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    <img
                        src="https://bulma.io/assets/images/placeholders/1280x960.png"
                        alt="Zapato"
                    >
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-6">Modelo</p>
                        <p class="subtitle is-6">Marca</p>
                    </div>
                </div>
                <div class="content">
                    <p class="subtitle is-6 is-family-monospace">Precio</p>
                </div>
            </div>
        </div>
    </div>
</div>
