@{
    ViewData["Title"] = "Registro";
}

<h1 class="title">@ViewData["Title"]</h1>

<div class="container is-max-tablet my-4">
    <div class="box">
        <div class="field">
            <label class="label">Correo electrónico</label>
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="kickmarket@kickmarket.com">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <label class="label">Usuario</label>
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="kickmarket">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <label class="label">Contraseña</label>
            <p class="control has-icons-left">
                <input class="input" type="password" placeholder="XB-70_Valkyrie">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <label class="label">País</label>
            <p class="control has-icons-left">
                <span class="select">
                    <select>
                        <option selected>Mundo</option>
                        <option>Colombia</option>
                        <option>México</option>
                        <option>España</option>
                    </select>
                </span>
                <span class="icon is-small is-left">
                    <i class="fas fa-globe"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <button class="button is-success">Registrar</button>
            </p>
        </div>
    </div>
</div>
