@{
    ViewData["Title"] = "Vender";
}

<h1 class="title">@ViewData["Title"]</h1>

<div class="box">
    <div class="is-justify-content-space-between">
        <div class="is-align-content-center">
            <p class="title is-4">Conviértete en un vendedor</p>
            <p class="subtitle">Como registrarse para comenzar a vender.</p>
            <a asp-area="" asp-controller="Home" asp-action="Register">
                <button class="button is-primary">Regístrate</button>
            </a>
        </div>
            <div class="is-align-content-center my-4">
            <img 
                style="max-height: 10rem;"
                src="https://media.istockphoto.com/id/1182833382/es/foto/mujeres-j%C3%B3venes-tomando-fotos-a-zapatos-con-tel%C3%A9fono-celular-o-c%C3%A1mara-digital-de-tel%C3%A9fono.jpg?s=612x612&w=0&k=20&c=KFLgXzxknG6YCeEg7g3ysbmEggQPsJJBbsxAlDVfkHI="
            >
        </div>
    </div>
</div>
